/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */
.card {
    display: flex;
    width: 670px;
    height: 440px;
}
.green {
   background-image:linear-gradient(to top,#50cc49,#06d7c1);
   position: relative;
   flex-basis: 50%;
   flex-shrink: 0;
}
.green img {
    position: absolute;
}
.white {
    padding-left: 30px;
    flex-basis: 50%;
}
.white h1 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
.button {
    background-color: #f15f42;
}
.size ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.chosen {
    color: #f15f42;
    border:solid #f15f42;
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}